.label_text{font-weight: bold;}



#slotDialog form ul {
	padding: 0.3em;
	list-style-type: none;
}

#slotDialog label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.ui-widget {
	font-size: 1em;
}

.reslabel{
  /*
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%; */
}

.reservations td {
	padding: 4px;
}

.page-civicrm-booking-create-slots table {
	border: solid #36648B 1px !important;
}

td.resourcename,
td.resdate {
	border: solid #36648B 1px;
}


td.reslabel{
	border-bottom: solid #36648B 1px;
	border-top: solid #36648B 1px;
	padding: 0px !important;
	/*background-color: #EDEDED;*/
}
td.slot{
	border-bottom: solid #36648B 1px;+
}

.arrow-left {
	background-image: url("../img/arrow_large_left.png");
	background-repeat:no-repeat;
	background-position:center; 
}


.arrow-right {
	background-image: url("../img/arrow_large_right.png");
	background-repeat:no-repeat;
	background-position: center;
}

/*Regular session*/
/*.regular-session {
	/*background-color: #E77471;
	color: white;*/
	/*background: #fceabb; /* Old browsers */
/*background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

.regularsession-counselling{	
	/*background-color: #8D38C9;*/
	color: white;
	background: rgb(125,164,195); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,164,195,1) 0%, rgba(57,152,215,1) 35%, rgba(37,140,209,1) 53%, rgba(71,169,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,164,195,1)), color-stop(35%,rgba(57,152,215,1)), color-stop(53%,rgba(37,140,209,1)), color-stop(100%,rgba(71,169,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,164,195,1) 0%,rgba(57,152,215,1) 35%,rgba(37,140,209,1) 53%,rgba(71,169,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,164,195,1) 0%,rgba(57,152,215,1) 35%,rgba(37,140,209,1) 53%,rgba(71,169,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,164,195,1) 0%,rgba(57,152,215,1) 35%,rgba(37,140,209,1) 53%,rgba(71,169,239,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,164,195,1) 0%,rgba(57,152,215,1) 35%,rgba(37,140,209,1) 53%,rgba(71,169,239,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7da4c3', endColorstr='#47a9ef',GradientType=0 ); /* IE6-9 */
}

.regularsession-psychotherapy{
	/*background-color:#307D7E;*/
	color: white;
	background: rgb(220,130,139); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(220,130,139,1) 0%, rgba(190,48,65,1) 31%, rgba(161,33,48,1) 59%, rgba(233,77,95,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,130,139,1)), color-stop(31%,rgba(190,48,65,1)), color-stop(59%,rgba(161,33,48,1)), color-stop(100%,rgba(233,77,95,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(220,130,139,1) 0%,rgba(190,48,65,1) 31%,rgba(161,33,48,1) 59%,rgba(233,77,95,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(220,130,139,1) 0%,rgba(190,48,65,1) 31%,rgba(161,33,48,1) 59%,rgba(233,77,95,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(220,130,139,1) 0%,rgba(190,48,65,1) 31%,rgba(161,33,48,1) 59%,rgba(233,77,95,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(220,130,139,1) 0%,rgba(190,48,65,1) 31%,rgba(161,33,48,1) 59%,rgba(233,77,95,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc828b', endColorstr='#e94d5f',GradientType=0 ); /* IE6-9 */
}

.regularsession-psychosexual{
	background: rgb(216,224,222); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 0%, rgba(153,175,171,1) 3%, rgba(130,157,152,1) 5%, rgba(142,166,162,1) 9%, rgba(78,92,90,1) 47%, rgba(14,14,14,1) 86%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,224,222,1)), color-stop(0%,rgba(174,191,188,1)), color-stop(3%,rgba(153,175,171,1)), color-stop(5%,rgba(130,157,152,1)), color-stop(9%,rgba(142,166,162,1)), color-stop(47%,rgba(78,92,90,1)), color-stop(86%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 0%,rgba(153,175,171,1) 3%,rgba(130,157,152,1) 5%,rgba(142,166,162,1) 9%,rgba(78,92,90,1) 47%,rgba(14,14,14,1) 86%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 0%,rgba(153,175,171,1) 3%,rgba(130,157,152,1) 5%,rgba(142,166,162,1) 9%,rgba(78,92,90,1) 47%,rgba(14,14,14,1) 86%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 0%,rgba(153,175,171,1) 3%,rgba(130,157,152,1) 5%,rgba(142,166,162,1) 9%,rgba(78,92,90,1) 47%,rgba(14,14,14,1) 86%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 0%,rgba(153,175,171,1) 3%,rgba(130,157,152,1) 5%,rgba(142,166,162,1) 9%,rgba(78,92,90,1) 47%,rgba(14,14,14,1) 86%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: white;
}

.regularsession-parenting{
	background: rgb(241,176,11); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(241,176,11,1) 18%, rgba(186,138,4,1) 40%, rgba(186,138,4,1) 47%, rgba(186,138,4,1) 96%, rgba(198,146,4,1) 99%, rgba(222,165,8,1) 100%, rgba(142,104,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,rgba(241,176,11,1)), color-stop(40%,rgba(186,138,4,1)), color-stop(47%,rgba(186,138,4,1)), color-stop(96%,rgba(186,138,4,1)), color-stop(99%,rgba(198,146,4,1)), color-stop(100%,rgba(222,165,8,1)), color-stop(100%,rgba(142,104,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(241,176,11,1) 18%,rgba(186,138,4,1) 40%,rgba(186,138,4,1) 47%,rgba(186,138,4,1) 96%,rgba(198,146,4,1) 99%,rgba(222,165,8,1) 100%,rgba(142,104,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(241,176,11,1) 18%,rgba(186,138,4,1) 40%,rgba(186,138,4,1) 47%,rgba(186,138,4,1) 96%,rgba(198,146,4,1) 99%,rgba(222,165,8,1) 100%,rgba(142,104,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(241,176,11,1) 18%,rgba(186,138,4,1) 40%,rgba(186,138,4,1) 47%,rgba(186,138,4,1) 96%,rgba(198,146,4,1) 99%,rgba(222,165,8,1) 100%,rgba(142,104,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(241,176,11,1) 18%,rgba(186,138,4,1) 40%,rgba(186,138,4,1) 47%,rgba(186,138,4,1) 96%,rgba(198,146,4,1) 99%,rgba(222,165,8,1) 100%,rgba(142,104,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1b00b', endColorstr='#8e6800',GradientType=0 ); /* IE6-9 */
	color: white;
}

.regularsession-wellbeing{
	background: rgb(246,90,6); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,90,6,1) 9%, rgba(188,67,2,1) 35%, rgba(148,54,4,1) 45%, rgba(103,38,3,1) 97%, rgba(120,47,8,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,rgba(246,90,6,1)), color-stop(35%,rgba(188,67,2,1)), color-stop(45%,rgba(148,54,4,1)), color-stop(97%,rgba(103,38,3,1)), color-stop(99%,rgba(120,47,8,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,90,6,1) 9%,rgba(188,67,2,1) 35%,rgba(148,54,4,1) 45%,rgba(103,38,3,1) 97%,rgba(120,47,8,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,90,6,1) 9%,rgba(188,67,2,1) 35%,rgba(148,54,4,1) 45%,rgba(103,38,3,1) 97%,rgba(120,47,8,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,90,6,1) 9%,rgba(188,67,2,1) 35%,rgba(148,54,4,1) 45%,rgba(103,38,3,1) 97%,rgba(120,47,8,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,90,6,1) 9%,rgba(188,67,2,1) 35%,rgba(148,54,4,1) 45%,rgba(103,38,3,1) 97%,rgba(120,47,8,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65a06', endColorstr='#782f08',GradientType=0 ); /* IE6-9 */
	color:white;
}

.regularsession-dsu{
	background: rgb(109,152,34); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,152,34,1) 34%, rgba(78,110,26,1) 57%, rgba(105,148,36,1) 100%, rgba(109,168,8,1) 100%, rgba(103,143,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(34%,rgba(109,152,34,1)), color-stop(57%,rgba(78,110,26,1)), color-stop(100%,rgba(105,148,36,1)), color-stop(100%,rgba(109,168,8,1)), color-stop(100%,rgba(103,143,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,152,34,1) 34%,rgba(78,110,26,1) 57%,rgba(105,148,36,1) 100%,rgba(109,168,8,1) 100%,rgba(103,143,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,152,34,1) 34%,rgba(78,110,26,1) 57%,rgba(105,148,36,1) 100%,rgba(109,168,8,1) 100%,rgba(103,143,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,152,34,1) 34%,rgba(78,110,26,1) 57%,rgba(105,148,36,1) 100%,rgba(109,168,8,1) 100%,rgba(103,143,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,152,34,1) 34%,rgba(78,110,26,1) 57%,rgba(105,148,36,1) 100%,rgba(109,168,8,1) 100%,rgba(103,143,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d9822', endColorstr='#678f21',GradientType=0 ); /* IE6-9 */
	color: white;
} 


/*initial-assessment*/
/*.initial-assessment{

background: #b7deed; /* Old browsers */
/*background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(50%,#71ceef), color-stop(51%,#21b4e2), color-stop(100%,#b7deed)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */


.initial-assessment-counselling{
	/*background-color: #9E7BFF;*/
	color: white;
	background: rgb(235,241,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 12%, rgba(137,195,235,1) 52%, rgba(213,235,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(12%,rgba(171,211,238,1)), color-stop(52%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}

.initial-assessment-psychotherapy{
	/*background-color: #46C7C7;*/
	color: white;
	background: rgb(243,211,215); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,211,215,1) 0%, rgba(221,119,131,1) 29%, rgba(218,76,93,1) 64%, rgba(244,170,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,211,215,1)), color-stop(29%,rgba(221,119,131,1)), color-stop(64%,rgba(218,76,93,1)), color-stop(100%,rgba(244,170,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3d3d7', endColorstr='#f4aab2',GradientType=0 ); /* IE6-9 */

}
.initial-assessment-psychosexual{
	color: white;
	background: rgb(225,231,230); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,231,230,1) 0%, rgba(192,206,203,1) 22%, rgba(175,193,189,1) 33%, rgba(167,185,182,1) 40%, rgba(157,179,175,1) 48%, rgba(112,132,129,1) 79%, rgba(67,67,67,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,231,230,1)), color-stop(22%,rgba(192,206,203,1)), color-stop(33%,rgba(175,193,189,1)), color-stop(40%,rgba(167,185,182,1)), color-stop(48%,rgba(157,179,175,1)), color-stop(79%,rgba(112,132,129,1)), color-stop(100%,rgba(67,67,67,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e7e6', endColorstr='#434343',GradientType=0 ); /* IE6-9 */

}
.initial-assessment-parenting{
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 22%, rgba(252,205,77,1) 48%, rgba(248,181,0,1) 68%, rgba(251,223,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,rgba(252,234,187,1)), color-stop(48%,rgba(252,205,77,1)), color-stop(68%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 22%,rgba(252,205,77,1) 48%,rgba(248,181,0,1) 68%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 22%,rgba(252,205,77,1) 48%,rgba(248,181,0,1) 68%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 22%,rgba(252,205,77,1) 48%,rgba(248,181,0,1) 68%,rgba(251,223,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 22%,rgba(252,205,77,1) 48%,rgba(248,181,0,1) 68%,rgba(251,223,147,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
	color: white;
}
.initial-assessment-wellbeing{
	background: rgb(254,204,177); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(234,85,7,1) 93%, rgba(241,116,50,1) 99%, rgba(251,149,94,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(93%,rgba(234,85,7,1)), color-stop(99%,rgba(241,116,50,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
	color: white;
}
.initial-assessment-dsu{
	background: rgb(196,213,97); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(196,213,97,1) 0%, rgba(155,202,46,1) 35%, rgba(129,194,0,1) 54%, rgba(167,211,55,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,213,97,1)), color-stop(35%,rgba(155,202,46,1)), color-stop(54%,rgba(129,194,0,1)), color-stop(100%,rgba(167,211,55,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d561', endColorstr='#a7d337',GradientType=0 ); /* IE6-9 */
	color: white;
}
.initial-assessment-unknown{
	/*background: url("../img/stripe.bg.red.png");*/
	background: rgb(243,226,199); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,226,199,1) 23%, rgba(182,141,76,1) 79%, rgba(193,158,103,1) 94%, rgba(233,212,179,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(243,226,199,1)), color-stop(79%,rgba(182,141,76,1)), color-stop(94%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,226,199,1) 23%,rgba(182,141,76,1) 79%,rgba(193,158,103,1) 94%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,226,199,1) 23%,rgba(182,141,76,1) 79%,rgba(193,158,103,1) 94%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,226,199,1) 23%,rgba(182,141,76,1) 79%,rgba(193,158,103,1) 94%,rgba(233,212,179,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,226,199,1) 23%,rgba(182,141,76,1) 79%,rgba(193,158,103,1) 94%,rgba(233,212,179,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
   color: white;
}

/*supplementary-assessment*/
/*.supplementary-assessment{
	background: #fcecfc; /* Old browsers */
/*background: -moz-linear-gradient(top,  #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcecfc), color-stop(50%,#fba6e1), color-stop(51%,#fd89d7), color-stop(100%,#ff7cd8)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */

.supplementary-assessment-counselling{
	/*background-color: #7A5DC7;*/
	color: white;
	background: rgb(182,204,222); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(182,204,222,1) 0%, rgba(117,183,227,1) 12%, rgba(86,170,226,1) 52%, rgba(145,203,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,204,222,1)), color-stop(12%,rgba(117,183,227,1)), color-stop(52%,rgba(86,170,226,1)), color-stop(100%,rgba(145,203,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(182,204,222,1) 0%,rgba(117,183,227,1) 12%,rgba(86,170,226,1) 52%,rgba(145,203,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(182,204,222,1) 0%,rgba(117,183,227,1) 12%,rgba(86,170,226,1) 52%,rgba(145,203,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(182,204,222,1) 0%,rgba(117,183,227,1) 12%,rgba(86,170,226,1) 52%,rgba(145,203,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(182,204,222,1) 0%,rgba(117,183,227,1) 12%,rgba(86,170,226,1) 52%,rgba(145,203,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6ccde', endColorstr='#91cbf5',GradientType=0 ); /* IE6-9 */

}

.supplementary-assessment-psychotherapy{
	/*background-color: #3EA99F;*/
	color: white;
	background: rgb(240,202,206); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(240,202,206,1) 0%, rgba(213,89,103,1) 13%, rgba(204,42,61,1) 59%, rgba(242,150,161,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,202,206,1)), color-stop(13%,rgba(213,89,103,1)), color-stop(59%,rgba(204,42,61,1)), color-stop(100%,rgba(242,150,161,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(240,202,206,1) 0%,rgba(213,89,103,1) 13%,rgba(204,42,61,1) 59%,rgba(242,150,161,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(240,202,206,1) 0%,rgba(213,89,103,1) 13%,rgba(204,42,61,1) 59%,rgba(242,150,161,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(240,202,206,1) 0%,rgba(213,89,103,1) 13%,rgba(204,42,61,1) 59%,rgba(242,150,161,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(240,202,206,1) 0%,rgba(213,89,103,1) 13%,rgba(204,42,61,1) 59%,rgba(242,150,161,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0cace', endColorstr='#f296a1',GradientType=0 ); /* IE6-9 */

}

.supplementary-assessment-psychosexual{
	background: rgb(216,224,222); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 18%, rgba(153,175,171,1) 30%, rgba(142,166,162,1) 37%, rgba(130,157,152,1) 45%, rgba(78,92,90,1) 66%, rgba(14,14,14,1) 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,224,222,1)), color-stop(18%,rgba(174,191,188,1)), color-stop(30%,rgba(153,175,171,1)), color-stop(37%,rgba(142,166,162,1)), color-stop(45%,rgba(130,157,152,1)), color-stop(66%,rgba(78,92,90,1)), color-stop(92%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 18%,rgba(153,175,171,1) 30%,rgba(142,166,162,1) 37%,rgba(130,157,152,1) 45%,rgba(78,92,90,1) 66%,rgba(14,14,14,1) 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 18%,rgba(153,175,171,1) 30%,rgba(142,166,162,1) 37%,rgba(130,157,152,1) 45%,rgba(78,92,90,1) 66%,rgba(14,14,14,1) 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 18%,rgba(153,175,171,1) 30%,rgba(142,166,162,1) 37%,rgba(130,157,152,1) 45%,rgba(78,92,90,1) 66%,rgba(14,14,14,1) 92%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 18%,rgba(153,175,171,1) 30%,rgba(142,166,162,1) 37%,rgba(130,157,152,1) 45%,rgba(78,92,90,1) 66%,rgba(14,14,14,1) 92%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: white;
}
.supplementary-assessment-parenting{
	background: rgb(249,214,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,214,125,1) 28%, rgba(251,192,29,1) 43%, rgba(251,192,29,1) 52%, rgba(210,154,0,1) 96%, rgba(249,206,89,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,rgba(249,214,125,1)), color-stop(43%,rgba(251,192,29,1)), color-stop(52%,rgba(251,192,29,1)), color-stop(96%,rgba(210,154,0,1)), color-stop(100%,rgba(249,206,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d67d', endColorstr='#f9ce59',GradientType=0 ); /* IE6-9 */
	color: white;
}
.supplementary-assessment-wellbeing{
	background: rgb(253,130,63); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(253,130,63,1) 4%, rgba(246,90,6,1) 26%, rgba(246,90,6,1) 38%, rgba(171,63,5,1) 72%, rgba(200,79,14,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(253,130,63,1)), color-stop(26%,rgba(246,90,6,1)), color-stop(38%,rgba(246,90,6,1)), color-stop(72%,rgba(171,63,5,1)), color-stop(99%,rgba(200,79,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(253,130,63,1) 4%,rgba(246,90,6,1) 26%,rgba(246,90,6,1) 38%,rgba(171,63,5,1) 72%,rgba(200,79,14,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(253,130,63,1) 4%,rgba(246,90,6,1) 26%,rgba(246,90,6,1) 38%,rgba(171,63,5,1) 72%,rgba(200,79,14,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(253,130,63,1) 4%,rgba(246,90,6,1) 26%,rgba(246,90,6,1) 38%,rgba(171,63,5,1) 72%,rgba(200,79,14,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(253,130,63,1) 4%,rgba(246,90,6,1) 26%,rgba(246,90,6,1) 38%,rgba(171,63,5,1) 72%,rgba(200,79,14,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd823f', endColorstr='#c84f0e',GradientType=0 ); /* IE6-9 */
	color: white;
}
.supplementary-assessment-dsu{
	background: rgb(138,193,43); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(138,193,43,1) 35%, rgba(98,139,33,1) 57%, rgba(134,188,46,1) 100%, rgba(138,212,10,1) 100%, rgba(129,180,42,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(138,193,43,1)), color-stop(57%,rgba(98,139,33,1)), color-stop(100%,rgba(134,188,46,1)), color-stop(100%,rgba(138,212,10,1)), color-stop(100%,rgba(129,180,42,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(138,193,43,1) 35%,rgba(98,139,33,1) 57%,rgba(134,188,46,1) 100%,rgba(138,212,10,1) 100%,rgba(129,180,42,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(138,193,43,1) 35%,rgba(98,139,33,1) 57%,rgba(134,188,46,1) 100%,rgba(138,212,10,1) 100%,rgba(129,180,42,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(138,193,43,1) 35%,rgba(98,139,33,1) 57%,rgba(134,188,46,1) 100%,rgba(138,212,10,1) 100%,rgba(129,180,42,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(138,193,43,1) 35%,rgba(98,139,33,1) 57%,rgba(134,188,46,1) 100%,rgba(138,212,10,1) 100%,rgba(129,180,42,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac12b', endColorstr='#81b42a',GradientType=0 ); /* IE6-9 */
	color: white;
}
.supplementary-assessment-unknown{
	background: rgb(219,168,85); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(219,168,85,1) 23%, rgba(126,98,52,1) 79%, rgba(145,112,59,1) 94%, rgba(204,157,80,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(219,168,85,1)), color-stop(79%,rgba(126,98,52,1)), color-stop(94%,rgba(145,112,59,1)), color-stop(100%,rgba(204,157,80,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(219,168,85,1) 23%,rgba(126,98,52,1) 79%,rgba(145,112,59,1) 94%,rgba(204,157,80,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(219,168,85,1) 23%,rgba(126,98,52,1) 79%,rgba(145,112,59,1) 94%,rgba(204,157,80,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(219,168,85,1) 23%,rgba(126,98,52,1) 79%,rgba(145,112,59,1) 94%,rgba(204,157,80,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(219,168,85,1) 23%,rgba(126,98,52,1) 79%,rgba(145,112,59,1) 94%,rgba(204,157,80,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba855', endColorstr='#cc9d50',GradientType=0 ); /* IE6-9 */
	color:white;
}

/*.regular-session{
	background-color: #6F9BAE;
	color: #E0E0E0;
}*/

/*supplementary-assessment*/
.counselling{
	background: rgb(235,241,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 12%, rgba(137,195,235,1) 52%, rgba(213,235,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(12%,rgba(171,211,238,1)), color-stop(52%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 12%,rgba(137,195,235,1) 52%,rgba(213,235,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
	color: #E0E0E0;
}
.psychotherapy{
	background: rgb(243,211,215); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,211,215,1) 0%, rgba(221,119,131,1) 29%, rgba(218,76,93,1) 64%, rgba(244,170,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,211,215,1)), color-stop(29%,rgba(221,119,131,1)), color-stop(64%,rgba(218,76,93,1)), color-stop(100%,rgba(244,170,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,211,215,1) 0%,rgba(221,119,131,1) 29%,rgba(218,76,93,1) 64%,rgba(244,170,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3d3d7', endColorstr='#f4aab2',GradientType=0 ); /* IE6-9 */
	color: #E0E0E0;
}
.psychosexual{
	background: rgb(225,231,230); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,231,230,1) 0%, rgba(192,206,203,1) 22%, rgba(175,193,189,1) 33%, rgba(167,185,182,1) 40%, rgba(157,179,175,1) 48%, rgba(112,132,129,1) 79%, rgba(67,67,67,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,231,230,1)), color-stop(22%,rgba(192,206,203,1)), color-stop(33%,rgba(175,193,189,1)), color-stop(40%,rgba(167,185,182,1)), color-stop(48%,rgba(157,179,175,1)), color-stop(79%,rgba(112,132,129,1)), color-stop(100%,rgba(67,67,67,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,231,230,1) 0%,rgba(192,206,203,1) 22%,rgba(175,193,189,1) 33%,rgba(167,185,182,1) 40%,rgba(157,179,175,1) 48%,rgba(112,132,129,1) 79%,rgba(67,67,67,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e7e6', endColorstr='#434343',GradientType=0 ); /* IE6-9 */
	color: #E0E0E0;
}
.parenting{
	background: rgb(249,214,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,214,125,1) 28%, rgba(251,192,29,1) 43%, rgba(251,192,29,1) 52%, rgba(210,154,0,1) 96%, rgba(249,206,89,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,rgba(249,214,125,1)), color-stop(43%,rgba(251,192,29,1)), color-stop(52%,rgba(251,192,29,1)), color-stop(96%,rgba(210,154,0,1)), color-stop(100%,rgba(249,206,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,214,125,1) 28%,rgba(251,192,29,1) 43%,rgba(251,192,29,1) 52%,rgba(210,154,0,1) 96%,rgba(249,206,89,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d67d', endColorstr='#f9ce59',GradientType=0 ); /* IE6-9 */
	color: #E0E0E0;
}
.wellbeing{
	background: rgb(254,204,177); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(234,85,7,1) 93%, rgba(241,116,50,1) 99%, rgba(251,149,94,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(93%,rgba(234,85,7,1)), color-stop(99%,rgba(241,116,50,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(234,85,7,1) 93%,rgba(241,116,50,1) 99%,rgba(251,149,94,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
	color: #E0E0E0;
}
.dsu{
	background: rgb(196,213,97); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(196,213,97,1) 0%, rgba(155,202,46,1) 35%, rgba(129,194,0,1) 54%, rgba(167,211,55,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,213,97,1)), color-stop(35%,rgba(155,202,46,1)), color-stop(54%,rgba(129,194,0,1)), color-stop(100%,rgba(167,211,55,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(196,213,97,1) 0%,rgba(155,202,46,1) 35%,rgba(129,194,0,1) 54%,rgba(167,211,55,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4d561', endColorstr='#a7d337',GradientType=0 ); /* IE6-9 */
	color: #E0E0E0;
}

.editable{
	background-color:#6F9BAE;
	color: #E0E0E0;
}

.unavailable{
	background-color:white;
}

.slot-booked{
	border-top: solid #EE150C 3px;
}

.other{
	/*background-color: #262626; */
	background: url("../img/stripe.bg.red.png");  
}

.user-minus{
	display:block;
	float:left;
	width:16px;
	height:16px;
	margin-right:10px;
	background-image: url("../img/user-minus.png");
	background-repeat:no-repeat;

}

#participantList {
	margin-top: 5px;
	height: 100px;
	width: 100%;
	overflow-y: auto;
	border: solid 1px #EDEDED;
	}

.contact-reserved{
	background-color: #408AD2;
	color:white;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid #408AD2 2px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
}

.contact-appointment{
	background-color: #CF9D9B;
	color:white;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid #CF9D9B 2px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
}

.contact-unavailable{
	background-color:#BDBDBD;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid #BDBDBD 2px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
}


label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
div.creatError{float: none; color: red; padding-left: .5em; vertical-align: top;}

.deleteButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px !important;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
}.deleteButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.deleteButton:active {
	position:relative;
	top:1px;
}

.page-civicrm-booking-report-automate-regular-session-failure  div#printer-friendly{
	display:none;
}

/*Jitesh add down arrow */

 .filters legend{

padding-left: 16px !important;
background: url(../img/down_arrow.gif) no-repeat 0% 40% !important;
cursor: pointer !important;
 
 }
 
/*////////////////////////////////// */
/* Modify webform by koobitor */
.loading {
	background: url(../img/loading1.gif);
	width:16px;
	height:16px;
	position: absolute;
	top: 29px;
	left: 240px;
	display: none;
}
.node-type-webform #webform-component-civicrm-1-case-1-cg6-custom-9 {
	position: relative;
}
.node-type-webform #webform-component-seleted-slot-id #edit-submitted-seleted-slot-id, .node-type-webform #webform-component-seleted-slot-id .description, .node-type-webform  #webform-component-seleted-slot-id{
	display: none;
}
.node-type-webform #webform-component-seleted-slot-id ul {
	padding: 0;
	margin-bottom: 0;
}
.node-type-webform #webform-component-seleted-slot-id ul.left {
	width: 400px;
	float: left;
}
.node-type-webform #webform-component-seleted-slot-id ul.right {
	width: 400px;
	float: right;
}
.node-type-webform #edit-actions {
	width: 100%;
	float: left;
}
.node-type-webform #webform-component-seleted-slot-id ul div.left {
	float:left;
}
.node-type-webform #webform-component-seleted-slot-id ul div.first {
	width: 175px;
}
.node-type-webform #webform-component-seleted-slot-id ul div.middle {
	width: 150px;
	text-align: center;
}
.node-type-webform #webform-component-seleted-slot-id ul div.last {
	width: 60px;
	text-align: center;
}
.node-type-webform #webform-component-seleted-slot-id ul li.item {
	list-style: none;
	height: 50px;
	width: 385px;
	display: inline-block;
}
.node-type-webform #webform-component-seleted-slot-id ul li.item.booked {
	color:#ccc;
}
.node-type-webform #webform-component-seleted-slot-id .options {
	border: 1px solid #ccc;
	padding: 5px 10px;
	width: 230px;
	margin: 15px 0;
}
.node-type-webform #webform-component-seleted-slot-id .change-week {
	margin-top: 10px;
	margin-bottom: 15px;
}
.node-type-webform #webform-component-seleted-slot-id .change-week span{
	margin-right:	10px;
}
.node-type-webform #webform-component-seleted-slot-id .change-week .pre , .node-type-webform #webform-component-seleted-slot-id .change-week .next{
	border: 3px solid #888;
	background: #ccc;
	padding: 5px;
	cursor: pointer;
}
.node-type-webform #webform-component-seleted-slot-id .change-week .pre:hover , .node-type-webform #webform-component-seleted-slot-id .change-week .next:hover {
	border: 3px solid #AAA;
	background: #EEE;
}
.page-node-submission-edit .slot, #webform-component-cron-check {
	display: none;
}
#webform-component-corn-check {
	display:none;
}
#webform-component-civicrm-1-contact-1-fieldset-fieldset--civicrm-1-case-1-case-subject{
	display:none;
}






