.label_text{font-weight: bold;}



#slotDialog form ul {
	padding: 0.3em;
	list-style-type: none;
}

#slotDialog label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.ui-widget {
	font-size: 1em;
}

.reslabel{
  /*
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%; */
}

.reservations td {
	padding: 4px;
}

.page-civicrm-booking-create-slots table {
	border: solid #36648B 1px !important;
}

td.resourcename,
td.resdate {
	border: solid #36648B 1px;
}


td.reslabel{
	border-bottom: solid #36648B 1px;
	border-top: solid #36648B 1px;
	padding: 0px !important;
	/*background-color: #EDEDED;*/
}
td.slot{
	border-bottom: solid #36648B 1px;+
}

.arrow-left {
	background-image: url("../img/arrow_large_left.png");
	background-repeat:no-repeat;
	background-position:center; 
}


.arrow-right {
	background-image: url("../img/arrow_large_right.png");
	background-repeat:no-repeat;
}

/*Regular session*/
.regularsession-counselling{	
	background-color: #8D38C9;
	color: white;
}

.regularsession-psychotherapy{
	background-color:#307D7E;
	color: #E0E0E0;
}

.regularsession-psychosexual{
	background-color: #C36241;
	color: #E0E0E0;
}

.regularsession-parenting{
	background-color:#41627E;
	color: white;
}

.regularsession-wellbeing{
	background-color: #C68E17;
	color: white;
}

.regularsession-dsu{
	background-color:#7F525D;
	color: #E0E0E0;
}

/*initial-assessment*/
.initial-assessment-counselling{
	background-color: #9E7BFF;
	color: #E0E0E0;
}
.initial-assessment-psychotherapy{
	background-color: #46C7C7;
	color: #E0E0E0;
}
.initial-assessment-psychosexual{
	background-color: #F9966B;
	color: #E0E0E0;
}
.initial-assessment-parenting{
	background-color: #82CAFA;
	color: #E0E0E0;
}
.initial-assessment-wellbeing{
	background-color: #FDD017;
	color: #E0E0E0;
}
.initial-assessment-dsu{
	background-color:#FBBBB9;
	color: #E0E0E0;
}
.initial-assessment-unknown{
	background-color:#4CC552;
	color: #E0E0E0;
}

/*supplementary-assessment*/
.supplementary-assessment-counselling{
	background-color: #7A5DC7;
	color: #E0E0E0;
}
.supplementary-assessment-psychotherapy{
	background-color: #3EA99F;
	color: #E0E0E0;
}
.supplementary-assessment-psychosexual{
	background-color: #E55B3C;
	color: #E0E0E0;
}
.supplementary-assessment-parenting{
	background-color: #87AFC7;
	color: #E0E0E0;
}
.supplementary-assessment-wellbeing{
	background-color: #FBB917;
	color: #E0E0E0;
}
.supplementary-assessment-dsu{
	background-color:#C48793;
	color: #E0E0E0;
}
.supplementary-assessment-unknown{
	background-color:#4AA02C;
	color: #E0E0E0;
}

/*.regular-session{
	background-color: #6F9BAE;
	color: #E0E0E0;
}*/



.editable{
	background-color:#6F9BAE;
	color: #E0E0E0;
}

.unavailable{
	background-color:white;

}

.booked{
	border-top: solid #EE150C 3px;


}

.contact-reserved{
	background-color: #408AD2;
	color:white;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid #408AD2 2px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
}

.contact-appointment{
	background-color: #CF9D9B;
	color:white;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid #CF9D9B 2px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
}

.contact-unavailable{
	background-color:#BDBDBD;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: solid #BDBDBD 2px;
	text-align: center;
	display: inline-block;
	margin: 0px 2px;
}


label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
div.creatError{float: none; color: red; padding-left: .5em; vertical-align: top;}

.deleteButton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px !important;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
}.deleteButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.deleteButton:active {
	position:relative;
	top:1px;
}

.page-civicrm-booking-report-automate-regular-session-failure  div#printer-friendly{
	display:none;
}

/*Jitesh add down arrow */

 .filters legend{

padding-left: 16px !important;
background: url(../img/down_arrow.gif) no-repeat 0% 40% !important;
cursor: pointer !important;
 
 }
 
/*////////////////////////////////// */
/* Modify webform by koobitor */
.loading {
	background: url(../img/loading1.gif);
	width:16px;
	height:16px;
	position: absolute;
	top: 29px;
	left: 240px;
	display: none;
}
.node-type-webform #webform-component-civicrm-1-case-1-cg6-custom-9 {
	position: relative;
}
.node-type-webform #webform-component-seleted-slot-id #edit-submitted-seleted-slot-id, .node-type-webform #webform-component-seleted-slot-id .description, .node-type-webform  #webform-component-seleted-slot-id{
	display: none;
}
.node-type-webform #webform-component-seleted-slot-id ul {
	padding: 0;
	margin-bottom: 0;
}
.node-type-webform #webform-component-seleted-slot-id ul.left {
	width: 400px;
	float: left;
}
.node-type-webform #webform-component-seleted-slot-id ul.right {
	width: 400px;
	float: right;
}
.node-type-webform #edit-actions {
	width: 100%;
	float: left;
}
.node-type-webform #webform-component-seleted-slot-id ul div.left {
	float:left;
}
.node-type-webform #webform-component-seleted-slot-id ul div.first {
	width: 175px;
}
.node-type-webform #webform-component-seleted-slot-id ul div.middle {
	width: 150px;
	text-align: center;
}
.node-type-webform #webform-component-seleted-slot-id ul div.last {
	width: 60px;
	text-align: center;
}
.node-type-webform #webform-component-seleted-slot-id ul li.item {
	list-style: none;
	height: 50px;
	width: 385px;
	display: inline-block;
}
.node-type-webform #webform-component-seleted-slot-id ul li.item.booked {
	color:#ccc;
}
.node-type-webform #webform-component-seleted-slot-id .options {
	border: 1px solid #ccc;
	padding: 5px 10px;
	width: 230px;
	margin: 15px 0;
}
.node-type-webform #webform-component-seleted-slot-id .change-week {
	margin-top: 10px;
	margin-bottom: 15px;
}
.node-type-webform #webform-component-seleted-slot-id .change-week span{
	margin-right:	10px;
}
.node-type-webform #webform-component-seleted-slot-id .change-week .pre , .node-type-webform #webform-component-seleted-slot-id .change-week .next{
	border: 3px solid #888;
	background: #ccc;
	padding: 5px;
	cursor: pointer;
}
.node-type-webform #webform-component-seleted-slot-id .change-week .pre:hover , .node-type-webform #webform-component-seleted-slot-id .change-week .next:hover {
	border: 3px solid #AAA;
	background: #EEE;
}
.page-node-submission-edit .slot, #webform-component-cron-check {
	display: none;
}
#webform-component-corn-check {
	display:none;
}