<?xml version="1.0" encoding="iso-8859-1" ?>
<menu>
 <item>
     <path>civicrm/booking/slot/manage</path>
     <title>Manage slots</title> 
     <page_callback>CRM_Booking_Page_Slot</page_callback>
     <page_type>1</page_type>
     <weight>9000</weight>
  </item>
  <item>
     <path>civicrm/booking/slot/manage/copy</path>
     <title>Copy slots</title> 
     <page_callback>CRM_Booking_Form_Slot_Copy</page_callback>
     <page_type>1</page_type>
     <weight>9000</weight>
  </item>
  <item>
     <path>civicrm/booking/slot/manage/preview</path>
     <title>Copy slots</title> 
     <page_callback>CRM_Booking_Form_Slot_Preview</page_callback>
     <page_type>1</page_type>
     <weight>9000</weight>
  </item>
  <item>
     <path>civicrm/booking/room/manage</path>
     <title>Manage Rooms</title> 
     <page_callback>CRM_Booking_Page_Room</page_callback>
     <page_type>1</page_type>
     <weight>9001</weight>
  </item>
  <item>
     <path>civicrm/booking/room/edit</path>
     <title>Edit Rooms</title> 
     <page_callback>CRM_Booking_Form_Room</page_callback>
     <page_type>1</page_type>
     <weight>9002</weight>
  </item>
  <item>
     <path>civicrm/booking/room/add</path>
     <title>Add Rooms</title> 
     <page_callback>CRM_Booking_Form_Room</page_callback>
     <page_type>1</page_type>
     <weight>9002</weight>
  </item>
  <item>
     <path>civicrm/booking/calendar/contact</path>
     <page_callback>CRM_Booking_Page_Calendar_Contact</page_callback>
     <page_type>1</page_type>
     <weight>9002</weight>
  </item>
  <item>
     <path>civicrm/booking/report/automate-regular-session-failure</path>
      <title>Automated roll forward of regular sessions: Failure log</title> 
     <page_callback>CRM_Booking_Form_Report_RegularSessionFailure</page_callback>
     <page_type>1</page_type>
     <weight>9005</weight>
  </item>


</menu>